annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
bcrypt
click==8.3.1
fastapi
h11==0.16.0
idna==3.11
python-jose[cryptography]
pydantic
pydantic_core==2.41.5
SQLAlchemy==2.0.43
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn
langdetect==1.0.7
langchain-core
python-dotenv
together
requests